.bg-light {
    background-color: teal!important;
}

h1,
.header {
    color: teal;
    /*added google fonts to h1 elemts */
    font-family: 'Ranchers', cursive;
}


body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
/* using col tags instead of row due to formatting issues */
.col-md-9,
.col-md-11,
.col-md-10,
.col-md-6 {
    background-color: white;
    padding: 3%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center; 
    /* !important tag to override bootstrap css */
    border-top: 10px solid  teal !important; 
    background-color: white;
}

.footer-large {
     position: relative;
     width: 100%;
     color: black;
     text-align: center; 
     /* !important tag to override bootstrap css */
     border-top: 10px solid  teal !important; 
     background-color: white;
}

.col-md-6 {
    margin-bottom: 0px;
}

.jumbotron {
    padding-bottom: 25px;
}

@media screen and (max-height: 815px) {
    .footer {
        position: relative;
        width: 100%;
        color: black;
        text-align: center; 
        /* !important tag to override bootstrap css */
        border-top: 10px solid  teal !important; 
    }
}