@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-primary {
  background-color: #504f4e;
}
.background-secondary {
  background-color: #504f4e;
}
.background-third {
  background-color: #504f4e;
}
.bg-thirdary {
  background-color: #414141;
}
.border-primary{
  border-color: #8f7d5e;
}
.text-primary {
  color: #504f4e;
}
.text-secondary {
  color: "#EADDCA";
}

.text-third {
  color: #c5b08d;
}

.hover\:text-third:hover {
  color: #c5b08d;
}